# Node.js
node_modules/
npm-debug.log*
lerna-debug.log*
pnpm-debug.log*

# Build output
dist
build
out

# Dependency directory (alternative to node_modules/)
jspm_packages/
web_modules/

# Testing frameworks
coverage/
jest/
mocha/
ava/

# IDE and editor files
.idea/
.vscode/
.sublime*

# OS specific
.DS_Store
Thumbs.db

# Temporary files
*.log
*.pid
*.seed
custom_logs

# Linting and formatting
eslintcache/.

# Type coverage reports
*.yalc

# Compiled TypeScript files
*.js
*.jsx
*.d.ts

# Environment variables
.env
.env.staging
.env.production
.env.development
