@import "../global_styles";

.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% !important;
  background-color: $card-detail-background-color !important;
}

.h3 {
  font-family: $font-inter !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: $navbar-color-primary !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-left: 8px !important;
}

.h4 {
  font-family: $font-inter !important;
  font-size: 0.8rem !important;
  font-weight: 700 !important;
  color: $navbar-color-primary !important;
  margin: 0 !important;
  margin-top: 2px !important;
  padding: 0 !important;
  padding-left: 8px !important;
}

@media only screen and (max-width: 374px) {
  .detailsMainCard {
    max-width: 93%;
  }
}
