@import "../global_styles";

.mainCard {
  width: 68%;
  // border: 1px solid red;
  padding: 2% 4%;
}

.mainDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  // border: 1px solid blue;
}

.topSection {
  display: flex;
  // border: 1px solid pink;
  align-items: center;
}

.topSectionButtonDiv {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 14px;
}

.img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid rgb(223, 223, 223);
}

.button {
  border: none;
  text-align: left;
  background: transparent;
  font-family: $font-roboto;
  font-weight: 500;
}

.button:hover {
  color: rgb(19, 16, 168);
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1.5px;
}

.profileForm {
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
  // border: 1px solid green;
  gap: 10%;
}

.inputDiv {
  margin-top: 15px;
  position: relative;
}

.input {
  width: 280px;
  font-family: $font-roboto;
  font-size: 1.2rem;
  padding: 4px 6px;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 4px;
  margin-top: 4px;
}

.input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 4px #9ecaed;
}

.saveButton {
  width: 14%;
  font-family: $font-roboto !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  text-transform: none !important;
}

.changePasswordLink {
  position: absolute;
  right: 0;
  top: 8%;
  font-size: 0.7rem;
  text-decoration: none;
  color: $inactive-color;
}

.changePasswordLink:hover {
  color: $active-color;
  font-weight: 500;
}

@media only screen and (max-width: 1267px) {
  .profileForm {
    flex-direction: column;
  }

  .input {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .mainCard {
    width: 100%;
    padding: 5% 2%;
  }
}
